# Group profiles

## Parameters

In [2]:
BASE_DIR = '/Users/efraflores/Downloads'
FOLDER_NAME = 'profiled'

## Import

In [3]:
from mariachis.models import GroupProfiles

gp = GroupProfiles(BASE_DIR,FOLDER_NAME)
print(gp)

Path:	/Users/efraflores/Downloads/profiled
With 7 profiled files

## Transform

In [4]:
df, pipe_obj = gp.full_pipeline(cluster_kwargs={'n_clusters':6, 'kmeans':False}, index='comunity_code', values='cluster', aggfunc=', '.join)
df.sample()

,,Excursionista_18-29,Excursionista_30-39,Excursionista_40-49,Excursionista_50-59,Excursionista_60-69,Excursionista_70+,Excursionista_ALTO,Excursionista_BAJO,Excursionista_FEMALE,Excursionista_INTERNACIONAL,...,valor_min_velmedia_12,valor_min_velmedia_2,valor_min_velmedia_3,valor_min_velmedia_4,valor_min_velmedia_5,valor_min_velmedia_6,valor_min_velmedia_7,valor_min_velmedia_8,valor_min_velmedia_9,cluster
comunity_code,cluster_agg,,,,,,,,,,,,,,,,,,,,,
38049,"Ambiente Familiar, Viaje familiar",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,A

In [5]:
from mariachis.utils import tree_to_code

tree_to_code(df, df.columns)

1.0
  if mean_cards <= 5.28205943107605:
    if Viajeros entrados <= 13746.08642578125:
      return [[128.   0.   0.   0.   0.   0.]]
    else:  # if Viajeros entrados > 13746.08642578125
      return [[0. 0. 0. 0. 2. 0.]]
  else:  # if mean_cards > 5.28205943107605
    if Valor_count_Bares <= 26.0:
      return [[0. 0. 0. 4. 0. 0.]]
    else:  # if Valor_count_Bares > 26.0
      if valor_mean_tmin_7 <= 18.5:
        if valor_mean_tmed_8 <= 11.899999618530273:
          return [[0. 0. 0. 0. 0. 1.]]
        else:  # if valor_mean_tmed_8 > 11.899999618530273
          return [[0. 1. 0. 0. 0. 0.]]
      else:  # if valor_mean_tmin_7 > 18.5
        return [[0. 0. 2. 0. 0. 0.]]

## Profiles

In [9]:
from mariachis.utils import profiles

prof = profiles(df)

for i,var in enumerate(prof.values()):
    aux = var.fillna(0)
    display(aux.style.format("{:.0f}").background_gradient('Blues'))
    aux.T.to_csv(f'Profiles_{i}.csv')

In [5]:
cluster_dict = {
    'A':'Diversión para toda la familia',
    'B':'La mejor fiesta tropical de tu vida',
    'C':'Platillos exclusivos y climas variados',
    'D':'Ruta del vino, trae tu abrigo',
    'E':'Déjate consentir en la zona dorada y el mejor clima',
    'F':'Atrévete a la aventura'
}

df['final_cluster'] = df['cluster'].map(cluster_dict)
df['final_cluster'].value_counts(1)

In [6]:
# import cufflinks as cf
# cf.go_offline()
# chart_size = cf.Layout(height=700, width=1100)
# df.iplot(kind='scatter3d', mode='markers', x=0, y=1, z=2, categories='final_cluster', layout=chart_size)

## Export

In [7]:
gp.export_result(df.reset_index(), 'grouped_3D.csv')

Exported succesfully!
File:	grouped_3D.csv
Path:	/Users/efraflores/Downloads